*.sw[po]
deps*/*
objs*/*
objs_dis*/*
asmouts*/*
preprocs*/*
assembler/deps*/*
assembler/objs*/*
assembler/objs_dis*/*
assembler/asmouts*/*
assembler/preprocs*/*
assembler/frost32_cpu_assembler*
assembler/src/gen_src/*
assembler/*.elf
*.s.ignore
*.s
*.gdb_history*
*tags
*types_*.taghl
*.txt.ignore
*.vvp
testing/*
a.out
*.E
*.pdf
*.html
